<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.lovefan.communityPharmacy.mapper.ManufacturerMapper">
  <resultMap id="BaseResultMap" type="site.lovefan.communityPharmacy.pojo.Manufacturer">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="contact" jdbcType="VARCHAR" property="contact" />
    <result column="enabled" jdbcType="TINYINT" property="enabled" />
  </resultMap>
</mapper>